/*==================
  Variables
==================*/
:root {
  /*=== Font ===*/
  --font: "Barlow Semi Condensed", sans-serif;

  /*=== Primary Colors  ===*/
  --scissors-gradient-from: hsla(39, 89%, 49%, 0.774);
  --scissors-gradient-to: hsl(40, 84%, 53%);
  --paper-gradient-from: hsla(230, 89%, 62%, 0.774);
  --paper-gradient-to: hsl(230, 89%, 65%);
  --rock-gradient-from: hsla(349, 71%, 52%, 0.774);
  --rock-gradient-to: hsl(349, 70%, 56%);

  /*=== Neutral Colors ===*/
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  /*=== Background Colors ===*/
  --radial-gradient-from: hsl(214, 47%, 23%);
  --radial-gradient-to: hsl(237, 49%, 15%);
  --background-elements: #f6f6f6;
}

/*==================
  General Styles
==================*/
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  margin: 0;
  font-family: var(--font);
  background: radial-gradient(
    ellipse at top,
    var(--radial-gradient-from),
    var(--radial-gradient-to) 90%
  );
  background-repeat: no-repeat;
}
.container {
  display: grid;
  place-items: center;
  width: 124rem;
  height: 63rem;
}
/*==================
  Header
==================*/
.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 46.4rem;
  height: 7.2rem;
  margin: 3.2rem;
  padding: 1.6rem;
  border: 0.2rem solid var(--header-outline);
  border-radius: 1.2rem;
}
.information__logo {
  width: 9.6rem;
  margin: 0;
}
.information__logo img {
  width: 100%;
}
.information__score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 9.6rem;
  height: 7.2rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  text-align: center;
  background-color: var(--background-elements);
}
.information__score small {
  font-size: 1rem;
  font-weight: bold;
  color: var(--score-text);
}
.information__score p {
  margin: 0;
  margin-top: 0.8rem;
  font-size: 3.2rem;
  font-weight: bolder;
  color: var(--dark-text);
}

/*==================
  Main Play
==================*/
.play {
  position: relative;
  width: 46.4rem;
  height: 36rem;
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.play__button {
  width: 17.6rem;
  height: 17.6rem;
  border-radius: 50%;
  background-color: var(--background-elements);
  cursor: pointer;
  outline: none;
}
.play__paper,
.play__scissors,
.play__rock {
  position: absolute;
  border: 1.6rem solid;
  box-shadow: 0rem 0.8rem 0.2rem inset #d9d9e2, 0rem 0.5rem 0rem;
}
.play__paper {
  left: 0;
  border-color: var(--paper-gradient-to);
  color: var(--paper-gradient-from);
}
.play__scissors {
  right: 0;
  border-color: var(--scissors-gradient-to);
  color: var(--scissors-gradient-from);
}
.play__rock {
  bottom: 0;
  left: calc(50% - 88px);
  border-color: var(--rock-gradient-to);
  color: var(--rock-gradient-from);
}
.play__paper:active,
.play__scissors:active,
.play__rock:active {
  box-shadow: none;
  transition: all 300ms;
}

/*==================
  Rules
==================*/
.rules {
  justify-self: end;
  margin: 3.2rem 6.4rem 0 0;
}
.rules__button {
  width: 9.6rem;
  height: 3.2rem;
  border: 2px solid var(--header-outline);
  border-radius: 0.8rem;
  font-weight: bold;
  color: white;
  background: transparent;
  cursor: pointer;
  outline: none;
}

/*==================
  Footer
==================*/
.attribution {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  text-align: center;
  color: var(--background-elements);
}
.attribution a {
  color: var(--scissors-gradient-to);
  text-decoration: none;
}
.attribution a:hover {
  font-size: 1.8rem;
  text-decoration: underline;
  transition: all 500ms;
}
